.DS_Store
uploads/*
dumps/*sql

protected/runtime/application.log*
protected/runtime/gii-1.1.4/*
protected/runtime/search/*
protected/runtime/state.bin

protected/data/*sql
protected/data/*.db
protected/data/*.default
