.DS_Store
uploads/*
dumps/*sql
dumps/webdir*zip

^index.php

protected/runtime/application.log*
protected/runtime/gii-1.1.4/*
protected/runtime/search/*
protected/runtime/adminsearch/*
protected/runtime/state.bin

protected/data/*sql
protected/data/*.db
protected/data/*.default
