.DS_Store
assets/*
uploads/*

dumps/*.sql
dumps/*.sql.gz
dumps/webdir*.zip
dumps/webdir/*
dumps/*.db
dumps/*Jobportal_Backup.zip

/index.php

protected/runtime/application.log*
protected/runtime/gii-1.1.4/*
protected/runtime/search/*
protected/runtime/adminsearch/*
protected/runtime/apisearch/*
protected/runtime/cache/*
protected/runtime/state.bin
protected/runtime/cache-*.db

protected/data/*sql
protected/data/*.db
protected/data/*.default
protected/config/main.*php
docs/Anzeigen-*
docs/Anzeigen/*

docs/b/Agile.*
docs/tmp/*
benchmarks/*
*.patch

tmp/*

ext/index-inspector/target/*
ext/diversions/downloads/*

docs/manual/*
exclude.txt
syncnow.sh
