# 480 weeks
# <FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
#   Header set Cache-Control "max-age=172800, public"
#   Header set Expires "max-age=172800, public"
# </FilesMatch>

#<FilesMatch ".(ico|flv|jpg|jpeg|png|gif|js|css|swf)$">
# Header set Expires "max-age=172800, public"
#</FilesMatch>

<IfModule mod_deflate.c>
	<FilesMatch "\.(js|css)$">
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>

<IfModule mod_expires.c>
   <FilesMatch ".(ico|flv|jpg|jpeg|png|gif|js|css|swf)$">
       ExpiresActive on
       ExpiresDefault "access plus 1 year"
   </FilesMatch>
</IfModule>

# <IfModule mod_deflate.c>
#   AddOutputFilterByType DEFLATE text/xhtml text/html text/plain text/xml text/javascript application/x-javascript text/css
# </IfModule>

FileETag none

Options +FollowSymLinks
IndexIgnore */* 
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 

# otherwise forward it to index.php
RewriteRule . index.php
