Options -Indexes +FollowSymLinks

# We need this, since a complete reindexing takes minutes with Zend Lucene!
# php_value max_execution_time 1200

# Again, Zend lucene failed with the default (32M, 33554432)
# php_value memory_limit 64M

<IfModule mod_deflate.c>
    <FilesMatch "\.(js|css)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>

<IfModule mod_expires.c>
   <FilesMatch ".(ico|flv|jpg|jpeg|png|gif|js|css|swf)$">
       ExpiresActive on
       ExpiresDefault "access plus 1 year"
   </FilesMatch>
</IfModule>

FileETag none

IndexIgnore */*
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteBase /~jobp/
RewriteRule . index.php
