/* Page Setup
/* ------------ */

body {
  padding: 10px 0 0 0;
  color:#444;
  font-family:"HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size:14px;
  /*line-height:1.5em;*/
}

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.clear { clear: both; }

:focus {
  outline: 0;
}

html {overflow:auto;}

code { font-family: Monaco, Consolas; font-size: 11px; padding: 0px 3px; background: #eee; }

i { background: #eee; padding: 2px; }
em { background: #eee; padding: 2px; }

.content { 
  margin-top: 40px; padding: 10px;
  -webkit-border-radius:5px;
  -moz-border-radius:   5px;
  border-radius:        5px;
  border: 1px dashed transparent;
}

.content {
  border: 1px dashed #eee;
}

.content[contenteditable=true] { border-color: #aaa; }