/* Element specific style */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input
{
	margin: 0; padding: 0;
}

/*ul, ol {
list-style-type: none;
}
*/
body {
	margin: 0 0 30px 0;
	padding: 0;
	color: #333;
	font: normal 10pt Verdana,"Helvetica Neue",Arial,Tahoma,sans-serif;
	background: #FFF;
/*	background: url(../../images/v2/stripe.png) repeat scroll 0 0;	*/
	min-width:985px;
	font-size:11pt;	
}

.clear {
	clear: both;
}

/* Links */
a img, :link img, :visited img {
	border: none;
}

a {
	color: #3366CC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


#title {
	width: 100%;
	float: left;
	/*    background: transparent url(../images/header_studium_repeat.jpg) repeat-x scroll right 22px;    */
	/*	background: transparent url(../../images/v2/banner-u4.png) repeat-x scroll right 22px;    */
	/*	background: transparent url(../../images/v2/header-jobportal-repeat.jpg) repeat-x scroll right 22px;*/
	background: transparent url(../../images/v2/testme-repeat-x.png) repeat-x scroll right 22px;

}


/* Stripe for overall-menu on top */

#title-nav {
	background: #414141;
	color: #ffffff;
	height: 22px;
	font-size: 0.7em;
}

#title-nav-left {
	float: left;
	width: 400px;
}

#title-nav-right {
	width: 585px;
	margin-left: 400px;
	text-align: right;
}

#title-nav ul {
	padding: 4px 0 0 14px;
}

#title-nav ul li {
	list-style: none;
	margin: 0;
	display: inline;
}

#title-nav ul li a {
	padding: 3px 0.5em;
	margin-left: 3px;
}

#title-nav ul li a:link {
	color: #ffffff;
}

#title-nav ul li a:visited {
	color: #ffffff;
}

#title-nav ul li a:hover {
	color: #ffffff;
}

/* Title header with bg image */

/* Logo */
#title-logo {
	clear: both;
	width: 965px;
	height: 59px;
	float: left;
	padding: 23px 0 0 20px;
	/*    background: #ffffff url(../images/header_studium.jpg) no-repeat scroll right bottom;*/
	/*	background: #ffffff url(../../images/v2/banner-u3.png) no-repeat scroll right bottom;*/


	background: #ffffff url(../../images/v2/UNI_Header_Portalseiten_Generic_neu.png) no-repeat scroll right bottom;	
/*	background: #ffffff url(../../images/v2/header-jobportal.jpg) no-repeat scroll right bottom;	*/
	
/*	background: #ffffff url(../../images/v2/UNI-Header-Portalseiten.6XXx8x.jpg) no-repeat scroll right bottom;	*/
}

/* Line */
#title-border {
	float: left;
	background: #fff url(../../images/v2/bg_header-nav.jpg) repeat-x scroll 0 0;
	height: 20px;
	width: 100%;
}

/* Main and Sidebar */

#main-container {
	width: 770px;
	float: left;
}

#main {
	padding: 10px;
	width: 750px;
}

#main-header {
	padding: 10px;
	margin: 0 10px 0 10px;
	background: #EFEFEF;
	/*	height: 24px;*/
}

#generic-header {
	padding: 10px;
	margin: 0 0px 0px 0px;
}

#generic-header h1, h2, h3, h4, h5, h6 {
	border-bottom: dotted thin gray;
	padding: 0 0 10px 0;
	margin: 0 0px 10px 0px;
}

#generic-header p {
	margin: 0 0px 10px 0px;	
	font-size: 12px;
	color: #787878;
}

.bgef {
	background: #EFEFEF;
}

#main-content {
	padding: 10px;
	background: #FFF;	
}

#sidebar-container {
/*	margin-left: 780px;*/
width: 200px;
float: right;
}

#sidebar {
	margin-top: 10px;
	font-size: 12px;
}

#sidebar h1 {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding:3px 3px 3px 5px;
	background: orange url(../../images/v2/bg_teaserbalken_studium.jpg) repeat-x scroll 0 0;
	margin-bottom: 5px;
}

#sidebar p {
	line-height: 1.6em;
	padding:0 5px 0 5px;
	margin-bottom: 12px;
}


/* view job */

#view-header {
/*	padding: 10px;*/
margin: 0px 0 10px 0;
}

#view-job-title {
	color: #FF7b04;
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

#view-job-subtitle {
	font-size: 12px;
}

.view-job-company {
	font-weight: bold;
}

#view-content {
	padding: 10px;
	font-size: 12px;	
}

#view-description {
	background: #EFEFEE;
	padding: 8px 25px 8px 25px;
}

#view-description ul {
	margin: 0 0 0 20px;
	padding: 0px;
}

#view-description ul li {
	margin: 0;
	padding: 0;
}

#view-description p {
	margin: 8px 0 8px 0;
}

#view-degree {
	margin-top: 5px;
	background: #EFEFEE;	
	padding: 3px 25px 1px 25px;
	margin-bottom: 5px;
}

#view-howtoapply {
	margin-top: 5px;
	background: #EFEFEE;
	padding: 8px 25px 8px 25px;
}

#how-to-apply {
	font-size: 14px;
	color: #FF7b04;
	margin-bottom: 5px;
	font-weight: bold;
}

#mini-nav {
	font-size: 10px;
	border-bottom: solid thin gray;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;	
	padding-left: 26px;
	background: url(../../images/v2/arrow-left-orange-dbl.png) no-repeat 0px 0px;
	margin-right: 18px;
}

#bottom-nav {
	font-size: 10px;
	border-top: solid thin gray;
	padding: 15px 0 0px 0;
	margin: 40px 0 0px 0;	
	padding-left: 26px;
	background: url(../../images/v2/arrow-left-orange-dbl.png) no-repeat 0px 15px;
	margin-right: 18px;

}

#view-download {
	padding: 10px 10px 10px 25px;
	background: #EAEAEA;
	font-weight: bold;
}

#view-count {
	margin: 20px 0 0 0;
	padding: 0 0 0 0;
	color: #BCBCBC;
}

#view-content p {
	margin-bottom: 8px;
}

#intext-title {
	color: #FF7b04;
}



#content {
/*	background: #EFEFEF;*/
width: 980px;
}

/* searchbox */

#searchbox {
	float: left;
}

#sortmenu {
	float: right;
	font-size: 10px;
}

input#search {
	font-size: 12px;
	padding: 2px;
}

.button {
	padding: 4px 8px 4px 8px;
	font-size: 12px;
	border: solid thin #ECECEC;
	color: white;
	font-weight: bold;
	background: #FF7b04;
}

/* Index post partial */

.post {
	border-bottom: solid thin #ECECEC;
	/*	margin-bottom: 8px;*/
	padding: 10px;
}

.post:hover {
	background: #FFFFEE;
}

.post .post-title {
	font-size: 14px;
	color: #0077CC;
	font-weight: bold;
}

.post-expired .post-title {
	font-size: 14px;
	color: gray;
	font-weight: bold;
}

.post .post-title a {
	color: #0077CC;
}

.post-expired .post-title a {
	color: gray;
}


.post-title a:visited {
	color: #b1bcc9;
}

.post-status {
	font-size: 10px;
	font-weight: normal;
	background: gray;
	color: white;
	padding: 0 4px 0 4px;
}

.post-expired {
	border-bottom: solid thin black;
	/*	margin-bottom: 8px;*/
	padding: 10px;
	color: gray;	
	background: #EFEFEF;
}

.status-draft {
	background: #fcfae4;
}

.status-public {
	background: #e8fbe6;
}

.status-tag-public {
	background: darkgreen;
}

.status-tag-draft {
	color: white;
	background: #b39123;
}

span.post-company {
	font-size: 10px;
	color: #343434;
/*	margin-left: 10px;*/
	font-weight: bold;
}

span.post-location {
	font-size: 10px;
	color: #454545;
	font-style: italic;
}

.post-description-teaser {
	margin-top: 5px;
	font-size: 12px;
	color: #ABABAB;
	margin: 5px 0 0 10px;
}

.post .post-posted {
	float: right;
	font-size: 10px;
	color: gray;
	padding: 3px;
	font-weight: normal;
}

.post .post-posted-admin {
	float: right;
	font-size: 10px;
	color: white;
	padding: 3px;
	font-weight: normal;
}

.post-expired .post-posted {
	float: right;
	font-size: 10px;
	color: white;
	padding: 3px;
	font-weight: normal;
}


.post-highlighted {
	background: aliceblue;
}

#info-subbar {
	margin: 10px;
	padding: 5px 0 10px 0;
	font-size: 10px;
	color: #ABABAB;
	margin: 10px;
	border-bottom: solid thin #ABABAB;
}


a.fav-toggle
{
	display:block;
	float:left;
	height:50px;
	margin-right:5px;
	margin-left:2px;
	padding-top:2px;
	width:14px;
	background:url(../../images/v2/fav-star-off.png?v=2) no-repeat 0 1px;
}

a.fav-toggle.isfav
{
	background:url(../../images/v2/fav-star-on.png?v=2) no-repeat 0 1px;
}

a.fav-link {
	height:40px;
	margin-right:5px;
	margin-left:0px;
	padding-top:2px;
	padding-left: 20px;
	background:url(../../images/v2/fav-star-on.png?v=2) no-repeat 0 1px;
}

/* default input textfield */

label {
	font-size: 12px;
}

.default-input {
	font-size: 12px;
	padding: 1px;
}

.required {
	font-weight: bold;
	/*color: #0077CC;*/
	color: orange;
}

.errorMessage {
	font-size: 12px;
	color: red;
/*	color: #F88635;*/
}

.job-count {
	font-size: 8px;
	color: #808080;
	margin-bottom: 8px;
}

/* pagination */

#pagination {
	margin-top: 25px;
	font-size: 12px;
}

.current-page {
	color: orange;
	font-weight: bold;
	border: solid thin orange;
}

.alignleft {
float: left;
}

.alignright {
float: right;
}

.inactive {
	color: #ABABAB;
	border: dotted thin #ABABAB;
	padding: 5px;
}

.dimmed { 
	color: #ABABAB;
}

#pagination a {
	background: #EFEFEF;
	padding: 5px;
}

/* braodcast */

#broadcast {
	text-align: center;
	padding: 8px;
	background: #EFEFEF; /*url(../../images/v2/stripe.png) repeat scroll 0 0;	*/
	border-top: solid 3px orange;
	border-bottom: solid 3px orange;
	color: #444444;
}


.sticky {
	padding: 0px 5px 0px 5px;
	background: #FFF380;
}

.fat {
	font-weight: bold;
}

#view-deadline {
	margin: 12px 0px 0px 0px;
	padding: 8px 25px 8px 25px;
	background: aliceblue;
}


.spacetop {
	margin-top: 18px;
}

.trstyle-dark {

}

.form-item {
	margin-bottom: 10px;
	padding: 10px;
	background: #EFEFEF;
}

.form-item input, textarea { 
	padding: 3px;
}

.form-item p {
	color: gray;
	font-size: 10px;
	margin-top: 5px;
}
.form_item_label {
	width: 190px;
	float: left;
	text-align: top;
}

.form_item_field {
	margin-left: 200px;
}

.form_item_head {
	background: white;
	padding: 5px 10px 5px 10px;
	border: solid 2px #EFEFEF;
	font-size: 12px;
	color: gray;
}

.filterbox {
	padding: 0px;
}

.filter-option {
	padding: 3px;
	margin-bottom: 3px;
	background: #EFEFEF;
	border: solid 1px #EFEFEF;
	color: gray;
}

.filter-option:hover {
	background: #FEFEFE;
}

.filter-option-active {
	color: #3366CC;
	background: #FFFFEF;	
	border: solid 1px #EFEFEF;
}

a.no-underline:hover {
	text-decoration: none;
}

.errorSummary {
	color: #F88635;
	padding: 0 10px 5px 10px;
	font-size: 12px;
}

.noresults-box {
	padding: 10px;
	font-size: 12px;
	background: #EFEFEF;
}

.sidebar-box {
	background: #EFEFEF;
	padding: 4px;
	margin: 10px;
}

#static-header {
	padding: 5px 15px 5px 15px;
	background: url(../../images/v2/bg_headerbalken_studium.gif) repeat-x scroll 0 0;	
	font-weight: bold;
}

span.total {
	color: darkgray;
	margin-right: 40px;
	font-size: 12px;
}

.keep-file {
	margin-top: 5px;
	color: #454545;
	font-size: 12px;
	background: white;
	padding: 5px;
}

.file-size {
	font-size: 10px;
	margin-left: 5px;
	color: #767676;
}

.post-attachment {
	margin-top: 10px;
	font-size: 10px;
	margin-bottom: 3px;
}

a.pdf {
	margin-right:5px;
	margin-left:2px;
	padding-left: 20px;
	padding-top: 5px;
	background:url(../../images/v2/pdf.gif) no-repeat 0 1px;
}

.shadow {
	-moz-box-shadow: 2px 2px 4px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000');
}

#footer {
	margin: 10px;
	padding: 10px 0 10px 0;
	font-size: 10px;
	color: #ABABAB;
	margin: 10px;
	border-top: solid thin #ABABAB;
}



/* 
Proper commands 

*/

.proper-commands { position: absolute; }

.proper-commands .command {
	position:relative;
	float:left;
	width:30px;
	height:30px;
	margin:0 2px 0 0;
	color:#999;
	font-size:9px;
	text-align:center;
	text-indent:-5000px;
	text-transform:uppercase;
	background:rgba(0,0,0,0.05);

	-webkit-border-radius:5px;
	-moz-border-radius:   5px;
	border-radius:        5px;

	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.75), inset 0px 1px 0px rgba(0,0,0,0.03);
	-moz-box-shadow:    0px 1px 0px rgba(255,255,255,0.75), inset 0px 1px 0px rgba(0,0,0,0.03);
	box-shadow:         0px 1px 0px rgba(255,255,255,0.75), inset 0px 1px 0px rgba(0,0,0,0.03);

	cursor:pointer;
	overflow:hidden;
}

.proper-commands .command:hover {
	background:rgba(0,0,0,0.08);
}

.proper-commands .command:active {
	background:rgba(0,0,0,0.12);
}

.proper-commands .command.selected {
	background:rgba(0,0,0,0.12);
	-webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,0.2), inset 0px 2px 2px rgba(0,0,0,0.04), 0px 1px 0px rgba(255,255,255,0.5);
	-moz-box-shadow:    inset 0px 1px 4px rgba(0,0,0,0.2), inset 0px 2px 2px rgba(0,0,0,0.04), 0px 1px 0px rgba(255,255,255,0.5);
	box-shadow:         inset 0px 1px 4px rgba(0,0,0,0.2), inset 0px 2px 2px rgba(0,0,0,0.04), 0px 1px 0px rgba(255,255,255,0.5);
}

.proper-commands a.command > div {position:relative; width:100%; height:100%; }
.proper-commands a.command.unstyled     > div {  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYtJREFUeNpi+v//P8NAYCaGAQIDZjELjMHIyEgXC0HBjOFjoKA9EJ/8T30AMtMe2S5GmAtAPgaynwOZEjTy7AugHZJYfUxDSzHMHnmpetRirGD9+jUMly5dwKsGJA9SR1WLFy9eyHD37h28akDyIHXEAvR8/B9dQWZmKsPLly/gfCsrGzC/u7sf7MP169cyZGRkM/T0dMLVxMbGMwQGhmBaBgRwK2C1BZSNAT5//vw/MNDn/6JFC/6/ePEcjGH82NiI/+vWrQarA/FB4iB5kB5sANk+FkJBwsPDA6W5GcTFJeA+AgUriA/zGUgeBGBqaJKqv3z5Sp9UDfL13bt3GY4dOwKOX1Dcgnz99esXjAQFSt2EEiJKtYgPBAYGw1O2oKAgg7KyCjiIubl5GGbMmMrg5uYOTnS7du1kaGioBcuB1FCUqqkJkFP1aJE5wiwGRvwzGjbynuG0+OnTpzlABS9pYOlLkNk4sxM0X3OAuNS2G4h/APEfmH3oBcgfUIlI1wY9jcuOwZOqAQIMADP1q9lWHEnrAAAAAElFTkSuQmCC) no-repeat center center;  }
.proper-commands a.command.em           > div {  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnVJREFUeNpi/P//P8NAAMaRazEjIyNdLIR7FMSAcYC0PRCf/E99ADLTHtk+FB8D2c+BTAkaefYF0A5JuH1oFtM0woF2MA5ei//+/8Dw/u9mhl//H+E06O//Hwzv/l1l+Pz3PsNfhh8oclxMcgwabD0MvMy6pFn85s8CoKVP8frg7d+LDB/+3mL4x/ATqzwHkxSDOederBYz4TL01/9nBIPu1//POC0FgR/gtIodMOHJcXDW+RNvGW5e/ogtU8KZj65yMdw+xYNTngSLEWBu/22GXRvxh8DZzQIM2yZLkFdyIcfxs9+tYLoh7zzDm5eI4JRV5GZ4fP8rQ8MkQ4ZDR88w7FvJzMAv9pvh4ytWuBrr8LcMJj7vwWx77uukxTEM+EfJgWkRcXaGyFQlhugMJTB/+ex7DMe2MDPIaX9j8Mp5AbYcBJyTXoHFCAGCFhtaCINpYTEOBmsXMQYZBW6wY0Bx/uMrA4NT0msGMcWfDPyiEIt1HD+B+RRbjA18+/oHzv75lSwjiLOYi5uF4e2rH+DgvXzmPcNuYEIDhQQnNyPD3vliKGqPrhQGp3AQYGZkp8xiV38pcAIDBe+2NU/ADolMU2TwjZJmeHWfneHKfj4GY98PDOzc/xgu7+cHi4Es5WASJidVt6HkZZxVzr/DuPMrIxODEft20lI1G6MUUXHFysCLU46TUZZ0H//5/x5YDm8CFotP8Fr8l+E7w8d/t4DqPqJVEkoM8ixlDJxMikOkWqSrxf/+/XsKpKVoYSnQnmdMTEzSWBt7jx8/DgRa/oLaLT2QmSCzcTb2gIAFVH+DuNT2MKh6BqdZbEFNz3b1yOvCAAQYAN1IHgCyeTSxAAAAAElFTkSuQmCC) no-repeat center center;  }
.proper-commands a.command.strong       > div {  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZNJREFUeNpi/P//P8NAAMaRazEjIyNdLIR7FMSAcYC0PRCf/E99ADLTHtk+FB8D2c+BTAkaefYF0A5JuH1oFtM0woF2MI5aPHIsZsKrcv9pBob1+wibCFIDUgsDvNYMDH4FhDM0Uj5GBb75///zWBHOpSA1ILW4+FCAbB9uH+d1IXwB8kFKI4TuX8LA8OAZA4OsB8RXuqGI0AHJg2gBXggmy8fnbvz/rxMCcf28DRA+LARg9P2n//+v2wthg9SC1L3/9P+/beL//7XT8PqYtKAGWQTigzCywehBC2L3LSYzqLGB95+JU+dowsBgoI5XCXEW102HxF1+JyTuAp0gcX3+JkQeJHb/KSRdgOIfBD58piBV7zv1/7+MOwRHVSLiGxSPIDFY8IKCFRbPID1EpOrRIhNucX19NcPly5coskhXV4+hsbGVtCKThYWVYh/iM2NwBPW/f/+eAmkpGjXynjExMUljbew9fvw4EGj5C2q39EBmgszGmZ1A0QLEHCAutT0MxD+A+A/WoKZnu3rkdWEAAgwA1akJGqjV/lwAAAAASUVORK5CYII=) no-repeat center center;  }
.proper-commands a.command.indent       > div {  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATVJREFUeNpi/P//P8NAACaGAQIDZjELjMHIyEgXC2FRy4QmaA/EJ/9TH4DMtEe2ixHmApCPgeznQKYEjTz7AmiHJNw+NItpmsSBdsDtYyGk+Nnzh2RZIiUpj98Roz6ml48JFiD1twto4whCPo65yMHAzezLMFFrEQMHEydcPCjIF6/B69ZtxutjrBbL7EOUYkWKvAy3vv5hePXLgGGe7hYGAVYhqgQ1Vov77vNhaHr+8y/D21/2DPP0ttHOx9gslmA3ZvATX83AwyxCOx8jA5AjVLh8GTzF5jCwMlIvjsG1BYyDrXTf+6b4/99/f6hSUyDbN1pyjfp44MpqurQyga55RsNG3jOcFj99+jQHqOAlDSx9CTIbZxxDExsHiEttu4H4BxD/wVpk0rNdzYIuMOy7MAABBgBi3Z8K+9QkWAAAAABJRU5ErkJggg==) no-repeat center center;  }
.proper-commands a.command.outdent      > div {  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAStJREFUeNpi/P//P8NAAMaRazEjIyNdLIR7FMSAcYC0PRCf/E99ADLTHtk+FB8D2c+BTAkaefYF0A5JuH1oFtM0woF2MBJt8bPnD8myREpSnjKLR31MLR8zEVJcf7uA9gUIso9//PvOkH8tjuHr380MS/R/YGgMCvLFa/C6dZtJD+oPv98xJF32YRBju8Cgxs3C0Hf/M1zzE6f/tEtcSZe8GITZDjJIsjNjaC5S/EQ7H3/5+4Zh08tQhhc/z+K0mGbZ6ff/7ww7X6cz3Pq6AatllPoYvZJAAX///fm/900x1WoKfJXEaMk16mP6+ZgulQRQ8BkNG3nPMFp9MFc8fvw48N+/fy+o3dIDmQkyG2c+BgIWIOYAcantYVCFB8R/sMYxPdvVI68LAxBgAFrUVDKxYM/GAAAAAElFTkSuQmCC) no-repeat center center;  }
.proper-commands a.command.ul           > div {  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPdJREFUeNpi/P//P8NAAMaRazEjIyNdLIR7FMSAcYC0PRCf/E99ADLTHtk+FB8D2c+BTAkaefYF0A5JuH1oFtM0woF2MA5+iz/+ec/AzyJIX4vb7lYwzHvcxWAq4Myw3GA3XHzt2rUELQkODibf4pTLkgxaPF8ZHn3/y5Ake4hBj9eYPj4+/qGf4fj7egY17kAGH7GFcPFnz54RtERKSor6ievdu3cE1QgJCQ3RVD2aj0fz8Wg+Hs3Hg85iJrSG2DNaWYphNnJj7/Hjx4H//v17Qe2WHshMkNk4G3tAwALEHCAutT0MxD+A+A/WOKZnu3rkdWEAAgwAHG77pvk4VrAAAAAASUVORK5CYII=) no-repeat center center;  }
.proper-commands a.command.ol           > div {  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX9JREFUeNpi+v//P8NAYCaGAQIDZjELjMHIyEgXC0HBjOFjoKA9EJ/8T30AMtMe2S5GmAtAPgaynwOZEjTy7AugHZJYfUxDSzHMHsGpGht49P0ew9SHnQyXP59l2GZ6Bi6+du1aggYHBweTb/Hnv+8ZOJkvM+jyXifJUIp9rM1jzPBFNIXh6PsCFPFnz54RNFhKSop8i0Hg3e9/GGIcHBy09TE4D7ArMlz/giomJCREscXoBch/WqZkoB2MuAqQEZyPP/55z1B+I51hy6vVYH6VcgdDlnw51fIxvEUAZaOAHa96/n/4ff//xU/z/gecYaO4ikK2D2+qthZKYpj1qIthz5tehkrlSvrkY1BQB5w1ZXAVUWOYobOTQY7Tkar5GGd2Ovp+D8OuNwEMH3//Zzj18Sew3P7L8MTpP9Wy0wjPx0DXPKOVRehmo1j89OnTHKCClzSw9CXIbJyJC5rKQUmW2m1dkCU/gPgPzD707PQHiL/QtcikcYIePJUEQIABAIOCuFL+MlWNAAAAAElFTkSuQmCC) no-repeat center center;  }
.proper-commands a.command.link         > div {  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAlZJREFUeNrkl0+IElEcx7+jk6aklKvtLkIdzIMoBJ48CB7s2KWgRU+CQoSUd491ky4hauKlPAgeOgcduokQGB3Uy4qrhE4jW2m0mH/GnWYeKbuim5qzRv3g8f7weJ/3+833994biud5bMJk2JBtDEyPGxRFnQtw/GllU4Muobzj12/imq6TLGq8A9Fjof1JaO5I5CwrMHYnvCmwpBIXGNTMUP81qj7mR3h6sIfOsEX6R9zX9aps7P4sVRz29/knlVv8+85r/rFQz7PhcMjH43E+EonMnXOS99tQ6xVm3Nl+gOTHu1DLDmbO4TgO0WgUhUIBRqNxuTyeZ2KY3355iZvaLfwYdSbj5XIZ6XQavV4PBoMBtVoNTqcTXq93MaGtoupisYhEIgGPx4NcLodqtQqz2YxwOCydqsdQn8+HRqNBoDabjXjc7/eXPzKXhTocDmg0Guh0OqjVagKWy+XrvyS63S6SySQJL8uyqNfrsFqtBJ7NZhEMBkHT9Po9FtKFlHw+j0qlAoVCQUKdyWQQCoVgsVikuRZVKhX0ej2B2u12aLXalaELq3owGCAWi6FUKsFkMoFhGLKRQCAwgXo/aHCJvoJrKhseXX+Byxe2z1T1QqFOpVIEKuap3+8n6lUqlafmuLZ28G3I4vbV+zOhK4W63W7D7XYTqGjTUNG09A3c232FN5+fg+nt//lZvagdcYek/s6x/LPaHj865s48q//z+1jYDSPhI4+ZC242mw+FCS0JoC1x7bl5/Cu9LorddbOF0hOv7pmPvfN8V9PTA//8L8xPAQYAK+kssMfggUIAAAAASUVORK5CYII=) no-repeat center center;  }
.proper-commands a.command.image        > div {  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAipJREFUeNrslkluE0EUhv/qododWyaRN8ESUpYsWSOk7DkLp2DLgiOwY8k9cgOEQICQ21Ps0O6x5ry2MAIrgUXHNgKeVOqaur431cCccziEeDiQHAwcbCqMsb0AN6H1tjrPqVy4u5dmzfMfWWyjQWMx1cdUPd2RsRNi3P/O2wLvNMWJwW509f/ttJftdJu8ePMWfsCwqjWyymBZKJS5gKSvKhXqlYCqJLSkr6qhVYV0OsaHi+ftwI/O+uChh0paCG2gtIU2ltoa80xjkgpkOSlAiohKQdYCk6jb3uLTY46IwNo4+IwKHI5Chiuy9uNC4F6XY15I5AQtqkaBCFUm24P7cYAO99EhOINFXjdWG3Ae4MGAEdigECFyQaGgsYzgUWTag7txuN7jitxrrCM0o5j7OCZlupGPmBNYGgxMAEfjhuad9b324LjD4fkebAM2GpExcM1hQwpwZtHvWXhGoK4salGirFMYf0Z/PmwHjrJ3tBjghxF6JwM4zsFUBlWkuPpaYLJYYTZPkLkvKPxPyOQS78djPHn8tB24uHyN3MZ0tkrU5RFU0EOZJlikS8wowS5FhSXBrLeCU2rtaqGz9q5++fkVehRPrTTSpaQ4azKfQUhyduCgagfyMI2zdYwbGSW/T66DXRK/tDhJklag4XD451n8j1+L5IZkV6DttX8Cj0ajZzRhugPotFn71uT6luWdpnnXbCp0/kHf+Njb57s62O7467P6WoABAMgrs0bZbqQnAAAAAElFTkSuQmCC) no-repeat center center;  }
.proper-commands a.command.code         > div {  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZFJREFUeNpi/P//P8NAAMaRazEjIyOYDgz0oYlF69dvAdNwj4IYMA6Qtgfik0DL/4MAiIaxYXx0cVzyaOpOgsxGto8FzWErgFiCBh42g5otCRNgQlMgQcNoRTGbiWGAwKjFoxbTp+T6T+PyE2gHwr6BspgqQf3xz3uGyAuu9I/jT7/fM4izHaOOxUufzWKQ2ccIxoff7UHhg9gg0Ha3Asz3OK3KIMfJjKHv0uezuG1Gq53gwPMU6//vf9////D7PgofhEFsEIg4zw6mb35Z97/3Hi9cHUgPSCzzihuykf/x1U5g8Oj7PQYXEQ4GDiYBMEbmgwCIDRIz5WcD83lZDFD0WR1TZhBnZ2KwEBDD6WGsFstxKsETDTY+shgIXPoECVIBVkEwfdXuL+FIxhXUFz/N+6+8nxGMN79chcIHsUHg0Nu6/9J7Gf77nRH9P/WBLIoYCC95OhNnUI/wAgQo+IxWlqKbjWLx06dPc4AKXtLA0pcgs/E1b0GpnAPEpbbdQPwDiP9gjWN6AAyLR0wXBiDAAIPLpMwQ9FqMAAAAAElFTkSuQmCC) no-repeat center center;  }

.proper-commands .separator {
	position:relative;
	float:left;
	width:1px;
	height:38px;
	margin:0 6px 0 4px;
	text-align:center;
	text-indent:-5000px;
	background:rgba(0,0,0,0.04);
	-webkit-box-shadow: 1px 0px 0px rgba(255,255,255,0.5);
	-moz-box-shadow:    1px 0px 0px rgba(255,255,255,0.5);
	box-shadow:         1px 0px 0px rgba(255,255,255,0.5);
}



/* 
Page setup for proper / draft
*/

.clear { clear: both; }

:focus {
	outline: 0;
}

html {overflow:auto;}

code { font-family: Monaco, Consolas; font-size: 11px; padding: 0px 3px; background: #eee; }

i { background: #eee; padding: 2px; }
em { background: #eee; padding: 2px; }

.content { 
	margin-top: 40px; padding: 20px;
	-webkit-border-radius:5px;
	-moz-border-radius:   5px;
	border-radius:        5px;
	border: 1px dashed transparent;
}

.content {
	border: 1px dashed #eee;
}

.content[contenteditable=true] { border-color: #aaa; }


/* 
Draft page css
TODO: refactor
*/


/*#job-create-form { background: aliceblue; }*/
input { font-size: 14px; padding: 3px;}
.bt { border-top: solid thin #EFEFEF; }
.bb { border-bottom: solid thin #EFEFEF; }
.fi { padding: 10px; }
.fi-l, .fi-l label { font-size: 14px; font-weight: bold; color: orange; padding: 0 0 4px 0px;}
.fi-h { font-size: 10px; color: #787878; padding: 0 0 5px 0; width: 380px;}
.fi-f { font-size: 14px; margin: 0 0 0 0;}
.fi-e { color: red; font-size: 10px; font-weight: normal; padding: 0 0 4px 0;  }
.errorMessage { color: red; }
.content { padding: 10px; background: white;}
.hsep { background: white; height: 20px;}
.hidden { display: none; }

ul, li { margin: 0 0 0 10px; padding: 2px;}
.horizontal label { margin: 0 10px 0 0px; padding: 5px;}




/* 
Buttons
*/

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* REGULAR */

button.regular, .buttons a.regular{
    color:#336699;
}
.buttons a.regular:hover, button.regular:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a.regular:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}



/* v3 draft */

.idleField { background: ; }
.focusField { background: #F3F0F1; }

/** { font-family: Verdana, Arial, sans-serif; }*/
form#job-create-form { font-size: 12px; padding: 0px;}
form#job-create-form ol { list-style: none; }
form#job-create-form input[type=text] { font-size: 12px; padding: 4px; }
form#job-create-form input[type=file] { font-size: 12px; }
textarea { font-size: 12px; padding: 4px; color: #343434; }

div.help table tr th { color: black; }
div.help table { background: #FAFAFA; }

form#job-create-form label {
			display: block;
			float: left;
			width: 130px;
			padding: 0px 8px;
			margin: 0 0 5px 0;
			text-align: right;
	color: #676767;
}

form#job-create-form div.help {
	margin: 0 0 0 138px;
	padding: 8px;
	color: gray;
	font-size: 10px;
}

div.form-error {
	margin: 0 0 0 138px;
	padding: 8px;
	color: red;
	font-weight: bold;
	font-size: 12px;	
}

li {
	margin: 0 0 10px 0 ;
	clear: both;
}
fieldset { 
	border: none; margin: 0 0 10px 0; padding: 10px 0 10px 0;
	background: #FAFAFA; border-top: solid thin gray;
}
legend { font-weight: bold; margin: 0 0 0 140px; color: gray; padding: 0 10px 0 10px;   }

/* other */

.hspace-10 {
	margin-right: 10px;
}

ul.example-searches {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.example-searches li {
	margin: 4px 0 0 0 ;
	padding: 0px;
	list-style: none;
}

.column-200 {
	margin: 10px 10px 0 0;
	padding: 10px;
	width: 200px;
	float: left;
	background: #F9F9F9;
}