/* Element specific style */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input
{
    margin: 0; padding: 0;
}

/*ul, ol {
    list-style-type: none;
}
*/
body {
	margin: 0 0 30px 0;
	padding: 0;
	color: #333;
	font: normal 10pt Verdana,"Helvetica Neue",Arial,Tahoma,sans-serif;
	background: #fff;
	min-width:985px;
    font-size:11pt;	
}

.clear {
	clear: both;
}

/* Links */
a img, :link img, :visited img {
    border: none;
}

a {
    color: #3366CC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#title {
    width: 100%;
    float: left;
/*    background: transparent url(../images/header_studium_repeat.jpg) repeat-x scroll right 22px;    */
/*	background: transparent url(../../images/v2/banner-u4.png) repeat-x scroll right 22px;    */
/*	background: transparent url(../../images/v2/header-jobportal-repeat.jpg) repeat-x scroll right 22px;*/
	background: transparent url(../../images/v2/testme-repeat-x.png) repeat-x scroll right 22px;
	
}


/* Stripe for overall-menu on top */

#title-nav {
	background: #414141;
	color: #ffffff;
	height: 22px;
	font-size: 0.7em;
}

#title-nav-left {
	float: left;
	width: 400px;
}

#title-nav-right {
	width: 585px;
	margin-left: 400px;
	text-align: right;
}

#title-nav ul {
	padding: 4px 0 0 14px;
}

#title-nav ul li {
	list-style: none;
	margin: 0;
	display: inline;
}

#title-nav ul li a {
	padding: 3px 0.5em;
	margin-left: 3px;
}

#title-nav ul li a:link {
	color: #ffffff;
}

#title-nav ul li a:visited {
	color: #ffffff;
}

#title-nav ul li a:hover {
	color: #ffffff;
}

/* Title header with bg image */

/* Logo */
#title-logo {
    clear: both;
    width: 965px;
    height: 59px;
    float: left;
    padding: 23px 0 0 20px;
/*    background: #ffffff url(../images/header_studium.jpg) no-repeat scroll right bottom;*/
/*	background: #ffffff url(../../images/v2/banner-u3.png) no-repeat scroll right bottom;*/
	background: #ffffff url(../../images/v2/header-jobportal.jpg) no-repeat scroll right bottom;	
}

/* Line */
#title-border {
    float: left;
    background: #fff url(../../images/v2/bg_header-nav.jpg) repeat-x scroll 0 0;
    height: 20px;
    width: 100%;
}

/* Main and Sidebar */

#main-container {
	width: 770px;
	float: left;
}

#main {
	padding: 10px;
	width: 750px;
}

#main-header {
	padding: 10px;
	margin: 0 10px 0 10px;
	background: #EFEFEF;
	height: 24px;
}

#generic-header {
	padding: 10px;
	margin: 0 10px 0 10px;
	background: #EFEFEF;
}

#main-content {
	padding: 10px;
	background: #FFF;	
}

#sidebar-container {
/*	margin-left: 780px;*/
	width: 200px;
	float: right;
}

#sidebar {
	margin-top: 10px;
	font-size: 12px;
}

#sidebar h1 {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding:3px 3px 3px 5px;
    background: orange url(../../images/v2/bg_teaserbalken_studium.jpg) repeat-x scroll 0 0;
	margin-bottom: 5px;
}

#sidebar p {
	line-height: 1.6em;
    padding:0 5px 0 5px;
	margin-bottom: 12px;
}


/* view job */

#view-header {
/*	padding: 10px;*/
	margin: 0px 0 10px 0;
}

#view-job-title {
	color: #FF7b04;
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

#view-job-subtitle {
	font-size: 12px;
}

.view-job-company {
	font-weight: bold;
}

#view-content {
	padding: 10px;
	font-size: 12px;	
}

#view-description {
	background: #EFEFEE;
	padding: 8px 25px 8px 25px;
}

#mini-nav {
	font-size: 10px;
	border-bottom: solid thin gray;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;	
	padding-left: 26px;
    background: url(../../images/v2/arrow-left-orange-dbl.png) no-repeat 0px 0px;
    margin-right: 18px;
}

#bottom-nav {
	font-size: 10px;
	border-top: solid thin gray;
	padding: 15px 0 0px 0;
	margin: 40px 0 0px 0;	
	padding-left: 26px;
    background: url(../../images/v2/arrow-left-orange-dbl.png) no-repeat 0px 15px;
    margin-right: 18px;
	
}

#view-download {
	padding: 10px;
	background: #ECECEC;
}

#intext-title {
	color: #FF7b04;
}



#content {
/*	background: #EFEFEF;*/
	width: 980px;
}

/* searchbox */

#searchbox {
	float: left;
}

#sortmenu {
	float: right;
	font-size: 10px;
}

input#search {
	font-size: 12px;
	padding: 2px;
}

.button {
	padding: 4px 8px 4px 8px;
	border: solid thin #ECECEC;
	color: white;
	font-weight: bold;
    background: #FF7b04;
}

/* Index post partial */

.post {
	border-bottom: solid thin #ECECEC;
/*	margin-bottom: 8px;*/
	padding: 8px;
}

.post:hover {
	background: #FFFFEE;
}

.post-title {
	font-size: 14px;
	color: #0077CC;
	font-weight: bold;
}

.post-title a {
	color: #0077CC;
}

.post-status {
	font-size: 10px;
	font-weight: normal;
	background: gray;
	color: white;
	padding: 0 4px 0 4px;
}

.post-expired {
	background: #EFEFEF;
}

.status-draft {
	background: #fcfae4;
}

.status-public {
	background: #e8fbe6;
}

.status-tag-public {
	background: darkgreen;
}

.status-tag-draft {
	background: #b39123;
}

span.post-company {
	font-size: 10px;
	color: #343434;
	margin-left: 10px;
}

.post-location {
	font-size: 10px;
	color: #454545;
	font-style: italic;
}

.post-description-teaser {
	margin-top: 5px;
	font-size: 12px;
	color: #ABABAB;
}

.post-posted {
	float: right;
	font-size: 10px;
	color: #808080;
	font-weight: normal;
}

.post-highlighted {
	background: aliceblue;
}


a.fav-toggle
{
    display:block;
    float:left;
    height:40px;
    margin-right:5px;
    margin-left:2px;
    padding-top:2px;
    width:14px;
    background:url(../../images/v2/fav-star-off.png?v=2) no-repeat 0 1px;
}

a.fav-toggle.isfav
{
    background:url(../../images/v2/fav-star-on.png?v=2) no-repeat 0 1px;
}

/* default input textfield */

label {
	font-size: 12px;
}

.default-input {
	font-size: 12px;
	padding: 1px;
}

.required {
	font-weight: bold;
	color: #0077CC;
}

.errorMessage {
	font-size: 12px;
	color: #F88635;
}

.job-count {
	font-size: 8px;
	color: #808080;
	margin-bottom: 8px;
}

/* pagination */

#pagination {
	margin-top: 12px;
	float: right;
	font-size: 12px;
}

.current-page {
	font-weight: bold;
}

.inactive {
	color: #ABABAB;
}

#pagination a {
	background: #EFEFEF;
	padding: 5px;
}

/* braodcast */

#broadcast {
	text-align: center;
	padding: 8px;
	background: black;
	border-bottom: solid thin white;
	color: white;
}


.sticky {
	padding: 0px 5px 0px 5px;
	background: #FFF380;
}

.fat {
	font-weight: bold;
}

#view-deadline {
	margin-top: 12px;
}


.spacetop {
	margin-top: 15px;
}

.trstyle-dark {
	
}

.form-item {
	margin-bottom: 10px;
	padding: 10px;
	background: #EFEFEF;
}

.form-item input, textarea { 
	padding: 3px;
}

.form-item p {
	color: gray;
	font-size: 10px;
	margin-top: 5px;
}
.form_item_label {
	width: 190px;
	float: left;
	text-align: top;
}

.form_item_field {
	margin-left: 200px;
}

.form_item_head {
	background: white;
	padding: 5px 10px 5px 10px;
	border: solid 2px #EFEFEF;
	font-size: 12px;
	color: gray;
}

.filterbox {
	padding: 0px;
}

.filter-option {
	padding: 3px;
	margin-bottom: 3px;
	background: #EFEFEF;
	border: solid 1px #EFEFEF;
	color: gray;
}

.filter-option-active {
	color: #3366CC;
	background: #FFFFEF;	
	border: solid 1px #EFEFEF;
}

a.no-underline:hover {
	text-decoration: none;
}

.errorSummary {
	color: #F88635;
	padding: 0 10px 5px 10px;
	font-size: 12px;
}

.noresults-box {
	padding: 10px;
	font-size: 12px;
	background: #EFEFEF;
}

.sidebar-box {
	background: #EFEFEF;
	padding: 4px;
	margin: 10px;
}

#static-header {
	padding: 5px 15px 5px 15px;
	background: url(../../images/v2/bg_headerbalken_studium.gif) repeat-x scroll 0 0;	
	font-weight: bold;
}

span.total {
	color: darkgray;
	margin-right: 40px;
	font-size: 12px;
}